.mask-box-reveal {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #000;
  overflow: hidden;
}

.mask-box-reveal video {
  display: none;
}

.mask-box-reveal .mask {
  position: fixed;
  border: 1px solid #fff;
  cursor: grab;
  z-index: 10;
}

.mask-box-reveal .mask canvas {
  width: 100%;
  height: 100%;
  display: block;
}
